@import "vars";

@mixin useAbsolutePosition($x: 0, $y: 0) {
  position: absolute;
  left: $x;
  top: $y;
}


@mixin useCustomScrollBar($color: $secondColor) {

  overflow: auto;
  @supports (overflow: overlay) {
    overflow: overlay;
  }

  @supports (scrollbar-width: thin) {
    scrollbar-width: thin;
    scrollbar-color: $color transparent;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}