@import "../../rest/vars";
@import "../../rest/functions";

.button {
  font-size: em(15, 16);
  border-radius: em(5, 16);
  width: fit-content;
  padding: em(9, 12) em(12, 15);
  transition: .5s all;
  min-width: em(70, 16);

  &.grey {
    background: $thirdColor;
    color: $textColor;

    &:active:not(:disabled),
    &:hover:not(:disabled) {
      background: $mainHoverColor;
    }
  }

  &.white {
    background: $mainColor;
    color: $textColor;

    &:active:not(:disabled),
    &:hover:not(:disabled) {
      background: $mainHoverColor;
    }

  }


  &.green {
    background: $secondColor;
    color: $mainColor;

    &:active:not(:disabled),
    &:hover:not(:disabled) {
      background: $secondHoverColor;
    }
  }

  &:active:not(:disabled) {
    transform: scale(0.95);
  }

  &:disabled {
    cursor: default;
    opacity: .7;
  }


}